[req]
prompt=no
default_md=sha256
distinguished_name=dn
req_extensions=req_ext

[dn]
CN=home-router.lan

[req_ext]
basicConstraints=CA:FALSE
keyUsage=critical,digitalSignature,keyEncipherment
extendedKeyUsage=serverAuth
subjectAltName=@alt_names

[cert_ext]
basicConstraints=CA:FALSE
keyUsage=critical,digitalSignature,keyEncipherment
extendedKeyUsage=serverAuth
subjectAltName=@alt_names
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always

[alt_names]
DNS.1=home-router.lan
DNS.2=ipv4.home-router.lan
DNS.3=ipv6.home-router.lan
IP.1=192.168.167.1
IP.2=fd45:1e52:2abe:4c85::1
IP.3=192.168.103.254
