[req]
prompt=no
distinguished_name=dn
x509_extensions=cert_ext

[dn]
CN=Home-Network-CA

[cert_ext]
basicConstraints=critical,CA:TRUE,pathlen:0
keyUsage=critical,keyCertSign,cRLSign
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
